.layoutwrapper {
    display: grid;

    grid:
        [header-start] 'header header header header' 60px [header-end]
        [main-start] 'instructions stack heap io' 1fr [main-end]
        [footer-start] 'footer footer footer footer' 40px [footer-end]
        / minmax(300px, 2fr) 1fr 2fr 2fr;

    place-items: stretch;
    place-content: stretch;

    width: 100vw;
    height: 100vh;

    gap: 10px;
}

.header {
    grid-area: header;
    background-color: rgb(59, 59, 59);

    align-items: center;
    justify-content: center;
    display: flex;
}
.footer {
    grid-area: footer;
    background-color: rgb(59, 59, 59);
}
.instructions {
    grid-area: instructions;
    overflow-y: auto;
}
.stack {
    grid-area: stack;
    overflow-y: auto;
}
.heap {
    grid-area: heap;
    overflow-y: auto;
}
.io {
    grid-area: io;
    background-color: yellow;
}
